*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

:root{
    --celeste: #00d7fd;
    --dorado: #ffd11b;
    --plomo: rgb(33, 33, 33);
    --buttonPlomo: #313131;
}

body{
    background-color: #151515;
    color: white;
    min-height: 100vh;
}

strong {
    color: var(--celeste);
}

#root{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    overflow-x: hidden;
}

.anchors {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.anchor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 5px;
    background-color: var(--plomo);
}
.anchor a {
    text-decoration: none;
    cursor: pointer;
    color: var(--celeste);
}
.anchor a:hover {
    color: var(--dorado);
}

.buttonPrimary {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background-color: var(--buttonPlomo);
    transition: 300ms ease-in-out;
}
.buttonPrimary:hover {
    background-color: var(--celeste);
}

.navigateButton {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px 30px;
    border-radius: 10px;
    font-size: 20px;
    background-color: var(--buttonPlomo);
    transition: 300ms ease-in-out;
}
.navigateButton:hover {
    background-color: var(--dorado);
}

.close {
    font-size: 25px;
}
.close:hover {
    color: var(--dorado);
}

.stars {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
}